flask
Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
pandas
numpy

Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
opencv-python-headless
six
sklearn


threadpoolctl
urllib3
Werkzeug
yarg




keras
tensorflow-cpu
